[Unit]
Description=Elastos Hive IPFS Daemon
After=network-online.target
Wants=network-online.target

[Service]
User=hive
Group=hive
EnvironmentFile=/etc/hive/hive.conf
Type=simple
ExecStart=/usr/bin/ipfs daemon
Restart=always

[Install]
WantedBy=multi-user.target
