[Unit]
Description=Elastos Hive IPFS-Cluster Daemon
After=network-online.target ipfs.service
Wants=network-online.target

[Service]
User=hive
Group=hive

Type=forking
ExecStart=/home/hive/ipfs-cluster.sh
Restart=always

[Install]
WantedBy=multi-user.target
